<!DOCTYPE html>
<html lang="en">

  {{>head title=site.title summary=site.description}}

  <body><div class="wrapper">
    {{> nav }}

    <header class="site__header">
      <h1>Toybox</h1>
    </header>

    <div class="section__toys">
      <p style="text-align: center;">Coming Soon</p>
      <!-- <ul class="toys__list">
        {{#each pagination.files }}
        <li class="toy__container"><a class="toy-link" href="/{{ this.path }}">
          <picture>
            <source srcset="/images/thumbnails/{{thumbnail}}.webp" type="image/webp">
            <source srcset="/images/thumbnails/{{thumbnail}}.png" type="image/png">
            <img src="/images/thumbnails/{{thumbnail}}.png" alt="{{title}}">
          </picture>
        </a></li>
        {{/each}}
      </ul> -->
    </div>

    <div class="pagination">
      {{#if pagination.previous}}
        <a class="pagination--link" href="/{{pagination.previous.path}}">&laquo; Newer Posts</a>
      {{/if}}
      {{#if pagination.next}}
        <a class="pagination--link" href="/{{pagination.next.path}}">Older Posts &raquo;</a>
      {{/if}}
    </div>

    {{> footer }}

  </div></body><!-- wrapper -->
</html>