<html lang="en">
{{> head }}

<!--
  Load any extra CSS
  (these are here because of the way metalsmith is building pages)
-->
{{#if this.css}}
  {{#each this.css}}
  <link rel="stylesheet" type="text/css" href="/css/toys/{{.}}" />
  {{/each}}
{{/if}}

<body>
<!--
  Load any extra JS
  (Yeh this is proper dirty but what are you gonna do 🤷🏻‍♀️)
-->
{{#if this.js}}
  {{#each this.js}}
  <link rel="stylesheet" type="text/css" href="/scripts/{{.}}" />
  {{/each}}
{{/if}}


<div class="wrapper">
  {{> nav }}

  <header class="site__header">
    <h2>Toybox</h2>
    <h1>{{this.title}}</h1>
  </header>

  <div class="toy-info">
    <button id="toy-info__toggle">Show/Hide Info</button>
    <section class="toy__details">
      <p class="toy__date"><time datetime="{{moment this.date 'YYYY-MM-DD' }}">{{moment this.date 'dddd, Do MMMM YYYY' }}</time></p>
      <p class="toy__sum">{{this.summary}}</p>
      {{#if this.blog}}{{#each this.blog}}
      <p class="toy__post"><b>Read more about the process in the supporting blog post:</b> <a href="{{href}}">{{text}}</a></p>
      {{/each}}{{/if}}
    </section>
  </div>

  <div id="toy">
    {{{contents}}}
  </div>

  {{> footer }}
  </div><!--wrapper-->
</body>
</html>
